<section>
  <h1> List of All Posts </h1>

  <%user = @user%>
  <div class="user__box">
    <img src= "<%=user.photo%>" alt="image"/>
    <div class="name__box">
      <p class="user__name"><%=user.name%></p>
      <p class="user_number_of_post">Number of posts: <%= user.posts_counter || 0%></p>
    </div>
  </div>

<div class="post__container">
  <% Post.where(author_id:user.id).each do |post| %>
  <div class="post-container">
    <h2>Post #<%=post.id%>: <%= link_to "#{post.title}", "#{user_posts_path}/#{post.id}" %></h2>
    <p><%=post.text[0..100]%>...</p>
    <div class="comment_likes"> 
        <p>Comments: <%= post.comments_counter || 0%>, Likes: <%= post.likes_counter || 0%></p>
    </div>
  </div>    

  <div class="comments-container">
    <% post.recent_comments.each do |comment| %>
    <div class="comment-container">
      <%author = User.find_by(id: comment.author_id)%>
      <p><%=author.name%>: <%=comment.text[0..100]%>...</p>
    </div>
      <% end %>
  </div>
  <% end %>
</div>

</section>
